scikit-learn==0.24.2
pandas==2.0.3
numpy==1.24.3
autopep8==2.0.2
transformers==4.5.1
jupyter==1.0.0
datasets==2.12.0
bertviz==1.4.0
torch==2.0.1
torchtext==0.10.0
requests==2.31.0
scipy==1.10.1
tqdm==4.65.0
matplotlib==3.7.1
plotly==4.14.3
spacy==3.5.3
gensim==3.6.0
tensorflow==2.12.0
tensorflow-hub==0.13.0
rouge-score==0.1.2
sacrebleu==1.5.1
bert-score==0.3.9
wandb==0.15.3
nltk==3.8.1
sentence-transformers==2.2.2
